.App {
  text-align: center;
}
.crypto-list {
  margin: 20px;
  border-collapse: collapse;
  width: 100%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.1);
}

.crypto-price {
  color: red;
  font-weight: bold;;
}

.crypto-list th,
.crypto-list td {
  padding: 12px;
  text-align: left;
}

.crypto-list th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.crypto-list tr:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}

.crypto-logo {
  font-size: 24px;
  padding: 5px;
}


@media (max-width: 768px) {
  .crypto-list {
    margin: 10px;
    font-size: 14px;
  }

  .crypto-list th,
  .crypto-list td {
    padding: 8px;
  }

  .crypto-logo {
    font-size: 20px;
    padding: 3px;
  }
}






